ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.slider {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 860px;
    margin: 0 auto;

    position: relative;
}

.slider-slides {
    display: flex;
    flex-flow: row wrap;
    padding: 0 60px;

    overflow: hidden;
}

.slide-item {
    flex: 1 1 100%;
    display: none;
}

.slide-item.is-active {
    display: inline-block;
}

.slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;

    display: flex;
    justify-content: space-between;
}


.slider-nav i {
    font-size: 26px;
    cursor: pointer;
}

.nav-item.is-disabled {
    pointer-events: none;
    opacity: .4;
}